<%- include("partials/header.ejs") %>

<section id="create-section">
    <div class="create-form">
        <h1>CREATE POST</h1>
        <form action="/submit" method="post">                
            <label for="author">Author</label> <br>                
            <input class="create-input" type="text" name="author" required> <br>      
            <label for="title">Title</label> <br>          
            <input class="create-input" type="text" name="title" required> <br> 
            <label for="content">Content</label> <br>         
            <textarea class="create-input" name="content" maxlength="1000" rows="10" cols="100" required></textarea>  <br>   
            <input  type="submit" value="SUBMIT"> <br>            
        </form>
    </div>
    
</section>



<%- include("partials/footer.ejs") %>
